<html>
<head>
<script type="text/javascript">
require(['jquery'],function($){
    $(document).ready(function(){
        $("#name, #age, #designation, #employee_id").hover(function(){
            $(this).css("cursor", "pointer");
        });
        $("#name").click(function(){
            $("#nameField").submit();
        });
        $("#age").click(function(){
            $("#ageField").submit();
        });
        $("#designation").click(function(){
            $("#designationField").submit();
        });
        $("#employee_id").click(function(){
            $("#emp_idField").submit();
        });
    });
});
    </script>
</head>
</html>

<?php
$collection = $block->getUserData();
?>
<form action="" method="POST">
<?php echo __('Search: '); ?>
<input type="text" name="name" >
<input type="submit" value="Submit" name="search">
</form>

<?php
$orderBy = isset($_GET["sortOrder"]) ? ($_GET["sortOrder"]) : '';
$orderBy = $orderBy == 'ASC' ? 'DESC' : 'ASC';

$searchData = $block->getSearchData();
if ($searchData && $searchData->getCrud_id()) {
    ?>
    <b><?php echo __('Search Result: '); ?></b>
    <br><b><?php echo __('Name: ' . $searchData->getName()); ?></b>
    <br><b><?php echo __('Age: ' . $searchData->getAge()); ?></b>
    <br><b><?php echo __('Designation: ' . $searchData->getDesignation()); ?></b>
  <?php
}
?>
<div class="edit_entry">
    <table class="edit">
        <tr>
            <th id="name">
            <?php echo __('Name'); ?><i class="fas fa-sort"></i>
            <form action="" id="nameField">
            <input type="hidden" name="sortBy" value="name">
            <input type="hidden" name="sortOrder" id="nameId" value="<?php echo $orderBy; ?>"></form>
            </th>
            <th id="age">
            <?php echo __('Age'); ?><i class="fas fa-sort"></i>
            <form action="" id="ageField">
            <input type="hidden" name="sortBy" value="age">
            <input type="hidden" name="sortOrder" value="<?php echo $orderBy; ?>"></form>
            </th>
            <th id="designation">
            <?php echo __('Designation'); ?><i class="fas fa-sort"></i>
            <form action="" id="designationField">
            <input type="hidden" name="sortBy" value="designation">
            <input type="hidden" name="sortOrder" value="<?php echo $orderBy; ?>"></form>
            </th>
            <th id="employee_id">
            <?php echo __('Employee_Id'); ?><i class="fas fa-sort"></i>
            <form action="" id="emp_idField">
            <input type="hidden" name="sortBy" value="employee_id">
            <input type="hidden" name="sortOrder" value="<?php echo $orderBy; ?>"></form>
            </th>
        </tr>
        <?php
foreach ($collection as $entry) {
    ?>
        <tr>
            <td>
                <?php echo $entry->getName(); ?>
            </td>
            <td>
                <?php echo $entry->getAge(); ?>
            </td>
            <td>
                <?php echo $entry->getDesignation(); ?>
            </td>
            <td>
                <?php if (!$entry->getemployee_id() == null) {
        echo $entry->getemployee_id();
    } else {
        echo "NULL";
    }?>
            </td>
        </tr>
        <?php }?>
    </table>

</div>

<?php if ($block->getPagerHtml()): ?>
<div class="order-products-toolbar toolbar bottom">
    <?php echo $block->getPagerHtml(); ?>
</div>
<?php endif?>
